
# Enable (on) / Disable (off) slackpkg+
SLACKPKGPLUS=on

# set to '0' to never show the download progress bar
# set to '1' to show the bar only in download packages (default)
# set to '2' to show always show the download bar
VERBOSE=1

# By default slackpkg+ deny to install 32bit packages.
# Set this flag to 'on' allow slackpkg+ to install 32bit packages on a 64bit slackware 
# installation (possibly unsafe). Please, do not install both 32 and 64bit of the same 
# package to avoid problems, and NEVER upgrade exitant 64bit packages with relative 32bit package.
# Do not forget to install the multilibs.
#ALLOW32BIT=off

# Add custom option to 'wget'
#WGETOPTS="--timeout=5 --tries=1"

# Enable (on) / Disable (off) notification events (see notifymsg.conf)
#ENABLENOTIFY=off

# Enable (1) / Disable (0) the official slackpkg blacklist. May be useful to temporarily skip
# the slackware blacklist. You can also override it from command line:
# 'USEBL=0 slackpkg upgrade-all'
USEBL=1

# If two or more repositories contains some same packages, you can specify
# from which repository you prefer to search it.
# The syntax is "<repository_name>:<package_name>"
# Accepts regular expressions. To give priority to an entire repository use "<repository_name>:.*"

# Examples:
#PKGS_PRIORITY=( restricted:vlc )
#PKGS_PRIORITY=( myrepo:.* )
#
# If you want a multilib system, uncomment the multilib repository and set:
#PKGS_PRIORITY=( multilib:.* )
#

# List repositories you want to use (defined below)
# remember to launch 'slackpkg update' if you modify that row.
REPOPLUS=( slackpkgplusdev restricted alienbob slacky )


# Define mirrors (uncomment one or more mirror; remember to add it to REPOPLUS)
# Note: only multilib,alienbob,restricted,slacky repositories support GPG. If you add others
#       you may need to disable gpg check in slackpkg.conf

# Slackware 14.1 - x86_64
#MIRRORPLUS['multilib']=http://taper.alienbase.nl/mirrors/people/alien/multilib/14.1/
MIRRORPLUS['alienbob']=http://taper.alienbase.nl/mirrors/people/alien/sbrepos/14.1/x86_64/
MIRRORPLUS['restricted']=http://taper.alienbase.nl/mirrors/people/alien/restricted_sbrepos/14.1/x86_64/
MIRRORPLUS['slacky']=http://repository.slacky.eu/slackware64-14.1/

# use this to keep the slackpkg+ package updated
MIRRORPLUS['slackpkgplusdev']=http://slakfinder.org/slackpkg+dev/

# Slackware current - x86_64
#MIRRORPLUS['multilib']=http://taper.alienbase.nl/mirrors/people/alien/multilib/current/
#MIRRORPLUS['zerouno']=http://www.z01.eu/repo-slack/slackware64-current/

# Local repository:
#MIRRORPLUS['alienbob']=file://repositories/alien/sbrepos/14.1/x86/
#
# Local packages (you do not need metadata nor 'slackpkg update' command):
#MIRRORPLUS['myrepo']=dir://repositories/mypackages/


# -- Each entry in the hash table NOTIFYMSG allows to associate a message
#    to an event. At runtime, when an event E is triggered the associated 
#    message NOTIFYMSG[E], if any, is printed, in a dialog when DIALOG=on, 
#    on the standard output otherwise.
#
#    The syntax of the variable NOTIFYMSG is as below :
#
#     NOTIFYMSG[<EVENT>]="<MESSAGE>"
# 
#     EVENT       ::= <EVENTID>@<PATTERNLIST>
#     EVENTID     ::= on_install|on_upgrade|on_remove
#     PATTERNLIST ::= <PATTERN>[,PATTERNLIST]
#     MESSAGE     ::= string
#
# Each PATTERN can be the basename of a package (i.e mesa), or a regular
# expression (mozilla-.*)
# 
# When an event occurs, the basenames of packages that match a given 
# PATTERNLIST is available at runtime through the variable NV_MATCHPKGS.
# Attention, this variable must be escaped (i.e \${NV_MATCHPKGS}) when
# referenced inside the MESSAGE associated to an EVENT.
#
NOTIFYMSG[on_install@mesa.*,xorg-server]="Package(s) \$NV_MATCHPKGS has(have) been (re)installed.\n\
\n\
In order to use graphical softwares, you should reinstall any proprietary\
driver in use (nVidia, aTi), with 32-bit driver files if your system is\
multilib enabled."

NOTIFYMSG[on_upgrade@mesa.*,xorg-server]="Package(s) \$NV_MATCHPKGS has(have) been updated.\n\
\n\
In order to use graphical softwares, you should reinstall any proprietary\
driver in use (nVidia, aTi), with 32-bit driver files if your system is\
multilib enabled."


# Supported Repositories (see /usr/doc/slackpkg+-* for details):
#

