
# Enable (on) / Disable (off) slackpkg+
SLACKPKGPLUS=on

# set to '0' to never show the download progress bar
# set to '1' to show the bar only in download packages (default)
# set to '2' to show always show the download bar
VERBOSE=1


# If two or more repositories contains some same packages, you can specify
# from which repository you prefer to search it.
# The syntax is "<repository_name>:<package_name>"
# Accepts regular expressions. To give order to an entire repository use "<repository_name>:.*"

# Examples:
#PKGS_PRIORITY=( restricted:vlc )
#

# List repository you want to use (defined below).
# remember to launch 'slackpkg update' if you modify that row.
REPOPLUS=( slackpkgplus alienbob restricted slacky )



# Define mirrors (uncomment one or more mirror; remember to add it to REPOPLUS)
# Note: only multilib,alienbob,restricted,slacky repositories does supports GPG. If you add other
#       you may need to disable gpg check in slackpkg.conf

# Slackware 14.0 - i386
MIRRORPLUS['alienbob']=http://taper.alienbase.nl/mirrors/people/alien/sbrepos/14.0/x86/
MIRRORPLUS['restricted']=http://taper.alienbase.nl/mirrors/people/alien/restricted_sbrepos/14.0/x86/
MIRRORPLUS['slacky']=http://repository.slacky.eu/slackware-14.0/

# use this to keep updated the slackpkg+ package
MIRRORPLUS['slackpkgplus']=http://slakfinder.org/slackpkg+/

# Slackware current - i386



# Supported Repositories (see /usr/doc/slackpkg+-* for details):
#
# Supports GPG
# slackpkgplus: http://slakfinder.org/slackpkg+/
# multilib:   http://taper.alienbase.nl/mirrors/people/alien/multilib/{13.37,14.0,current}/
# alienbob:   http://taper.alienbase.nl/mirrors/people/alien/sbrepos/{13.37,14.0}/{x86,x86_64}/
# restricted: http://taper.alienbase.nl/mirrors/people/alien/restricted_sbrepos/{13.37,14.0}/{x86,x86_64}/
# slacky:     http://repository.slacky.eu/slackware{,64}-{13.37,14.0}/
# zerouno:    http://www.z01.eu/repo-slack/slackware64-current/
#
# Does NOT supports GPG
# salixos:    http://download.salixos.org/{i486,x86_64}/{13.37,14.0}/
# salixext:   http://people.salixos.org/ralvex/packages/{i486,x86_64}/{13.37,14.0}/
# rlworkman:  http://rlworkman.net/pkgs/{13.37,14.0}/
# slackel:    http://www.slackel.gr/repo/{i486,x86_64}/current/
# slackers:   http://www.slackers.it/repository/
